MyGame/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/cd/10/cd10b6fa641e697703f8fb3e82fa59d79e1265fc216c2221773c618a5361a552 filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-7f6a1f43d08ddb243de5b52307878c0cecdd355c.pack filter=lfs diff=lfs merge=lfs -text
